* {
    padding: 0;
    margin: 0;
    
    
}

.price {
    max-width: calc(1170 + 15 *2);
    height: 900px;
    padding: 0 15px;
    margin: 0 auto;
    background-color: #F5F5F5;
}

.price__info {
    padding: 0 15px;
    height: 900px;
    margin: 0 auto;
    
}

.price__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    margin: 54px 0;
    
   
}

.price__line {
    width: 170px;
    border: 1px solid #EC7979;
    color: #EC7979;
   margin: 0 850px;
}

.price__subtitle {
    height: 21px;
    text-align: center;
    color: #86878B;
    margin: 40px 170px 60px 170px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.prices__info {
    height: 510px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0 50px 0;
}

.prices__info--rate {
    width: 370px;
    height: 60px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
    background: #333333;
    border: 2px solid #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;

}

.prices__info--title {
    width: 370px;
height: 100px;
background: #333333;
border: 2px solid #F5F5F5;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
color: #FFFFFF;
display: flex;
align-items: center;
justify-content: center;

}
.prices__info--free {
    width: 370px;
    height: 50px;
    background: #333333;
    border: 2px solid #F5F5F5;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;

}

.prices__info--offer{
    
    width: 370px;
    height: 50px;
    background: #FFFFFF;
    border: 2px solid #F5F5F5;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
    color: #86878B;
    list-style: none; 
    display: flex;
    align-items: center;
    justify-content: center;



}

.active {
    box-shadow: 0px 4px 10px #33333333;
    align-self: flex-start;
    margin: -40px 30px 0 30px;

}